In [8]:
'''Q.1
Write a program to convert specified days into years, weeks and days.
Take user input.
Note: Ignore leap year
''';

days = int(input('Enter the number of Days:'))
Years = days / 365
weeks = (days % 365)/ 7
print('Conversion is', Years,':',weeks,':',days)

Enter the number of Days: 300

Conversion is 0.821917808219178 : 42.857142857142854 : 300

In [2]:
'''Q.2
Write a python program to input basic Python salary of an employee and 
calculate its Gross salary according to following:
Basic Salary <= 10000: HRA = 20%, DA = 80%
Basic Salary <= 20000: HRA = 30%, DA = 90%
Basic Salary  > 20000: HRA = 35%, DA = 95%
'''
Basic_Salary = int(input('Enter Basic_Salary of employee:'))
if Basic_Salary <= 10000:
    HRA = (Basic_Salary*20)/100
    DA = (Basic_Salary*80)/100
    Gross_Salary = Basic_Salary + HRA + DA
    print('Gross_Salary:',Gross_Salary)
elif Basic_Salary <= 20000:
    HRA = (Basic_Salary*30)/100
    DA = (Basic_Salary*90)/100
    Gross_Salary = Basic_Salary + HRA + DA
    print('Gross_Salary:',Gross_Salary)
else:
    if Basic_Salary > 20000:
        HRA = (Basic_Salary*35)/100
        DA = (Basic_Salary*95)/100
        Gross_Salary = Basic_Salary + HRA + DA
        print('Gross_Salary:',Gross_Salary)

Enter Basic_Salary of employee: 95029

Gross_Salary: 218566.7

In [6]:
'''Q.3
Write python programme to input electricity unit charges and 
calculate total electricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.25/unit
For above unit 250 Rs. 1.50/unit
An additional surcharge of 17% is added to the bill
'''
units = float(input('Enter the number of units:'))
if units <= 50:
    bill = units*0.50 
elif units <= 150:
    bill = (50*0.50)+((units-50)*0.75)   
elif units <=250:
    bill = (50*0.50)+(100*0.75)+((units-150)*1.25)
else:
    bill = (50*0.50)+(100*0.75)+(100*1.25)+ ((units-250)*1.50)
    charge =bill*0.17
    Total_Bill = bill + charge
    print("You're total bill is:",Total_Bill)

Enter the number of units: 400

You're total bill is: 526.5

In [4]:
'''Q.4
Write a Python program to print the given number patterns.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
'''

row=int(input('Enter the number of rows:'))

for i in range(row):
    for j in range(i+1): 
        print(i+1,end=' ')
    print()

Enter the number of rows: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
'''Q.5
Write a python program to calculate product of digits of a number.
Read value of n from user.
'''
num =int(input('Enter the number:'))
POD = 1
while num > 1:
    rem = num % 10
    POD = POD * rem
    num = num // 10
print('Product of digits is:',POD)

Enter the number: 1234

Product of digits is: 24

In [25]:
'''Q.6. 
Create a list of elements like: x = [45,67,12,'Hello',23.45,'World'] and
perform following operations
1. Extract only string values from this list.
2. Create a new list with strings in upper case.
3. Find the addition of integer values.
4. Check that the value 56 is present in it or not.
5. Print the list in reverse order.
6. Delete the string 'Hello' from it.
7. Insert a new value of 36 at 5th position in list.
8. Count total number of elements in list now.
9. Extract the values from 2nd index to 5th index.
10. Append[34,'Pune'] to this list.
11. Delete the last element from list.
'''
x = [45,67,12,'Hello',23.45,'World']
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [7]:
### 1. Extract only string values from this list.
x[3],x[5]

('Hello', 'World')

In [8]:
str = [i for i in x if isinstance(i,str)]
print(str)

['Hello', 'World']

In [9]:
### 2. Create a new list with strings in upper case.

names =  ['Pranali','Dnyaneshwari','Amruta','Sneha','Pranali',]
names

['Pranali', 'Dnyaneshwari', 'Amruta', 'Sneha', 'Pranali']

In [10]:
[n.upper() for n in names]

['PRANALI', 'DNYANESHWARI', 'AMRUTA', 'SNEHA', 'PRANALI']

In [11]:
### 3. Find the addition of integer values.
x = [45,67,12,'Hello',23.45,'World']
sum = 0
for i in x:
    if isinstance(i,int):
        sum += i
        print('Sum of integer values:',sum)

Sum of integer values: 45
Sum of integer values: 112
Sum of integer values: 124

In [12]:
### 4. Check that the value 56 is present in it or not.
56 in x

False

In [13]:
### 5. Print the list in reverse order.
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [14]:
x.reverse()

In [15]:
x

['World', 23.45, 'Hello', 12, 67, 45]

In [16]:
### 6. Delete the string 'Hello' from it.
x.remove('Hello')

In [17]:
x

['World', 23.45, 12, 67, 45]

In [18]:
### 7. Insert a new value of 36 at 5th position in list.
x.insert(5,36)

In [19]:
x

['World', 23.45, 12, 67, 45, 36]

In [20]:
### 8. Count total number of elements in list now.
len(x)

6

In [21]:
### 9. Extract the values from 2nd index to 5th index.
x[2:6]

[12, 67, 45, 36]

In [22]:
###10. Append[34,'Pune'] to this list.
x.append([36,'Pune'])

In [23]:
x

['World', 23.45, 12, 67, 45, 36, [36, 'Pune']]

In [26]:
### 11. Delete the last element from list.
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [27]:
x.pop()

'World'

In [28]:
'''Q.7
Create a tuple of elements with 5 float values in it and perform following operations.
1. Print the data in sorted manner.
2. Check to see that the element 50 is present in it.
3. Convert this tuple in set.
'''
### Create tuple of elements with 5 float values
t =(12.50,23.45,45.12,42.34,67.90)
t

(12.5, 23.45, 45.12, 42.34, 67.9)

In [29]:
### 1.Print the data in sorted manner.
t1 = list(t)
t1

[12.5, 23.45, 45.12, 42.34, 67.9]

In [30]:
t1.sort()

In [31]:
t1

[12.5, 23.45, 42.34, 45.12, 67.9]

In [32]:
### 2.Check to see that the element 50 is present in it.
50 in t1

False

In [33]:
45.12 in t1

True

In [34]:
### 3.Convert this tuple in set.
s = set(t)

In [35]:
s

{12.5, 23.45, 42.34, 45.12, 67.9}

In [36]:
'''Q.8
Create a dictionary of elements: {'a':'apple','b','ball','c':'cat','d':'doll','K':'king'} and
perform following operations.

1. Access the data at key 'k'.
2. Add a new values 'z': 'zebra'
3. Replace the contents of 'd' as 'dog'
4. Print all the values from this dictionary.
5. Find the lenght of this dictionary.
'''

d = {'a':'apple','b':'ball','c':'cat','d':'doll','K':'king'}

In [37]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'K': 'king'}

In [38]:
#1. Access the data at key 'k'.
d['K']

'king'

In [39]:
#2. Add a new values 'z': 'zebra'
d['z'] = 'zebra'

In [40]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'K': 'king', 'z': 'zebra'}

In [41]:
#3. Replace the contents of 'd' as 'dog'
d['d'] = 'dog'

In [42]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'K': 'king', 'z': 'zebra'}

In [43]:
#4. Print all the values from this dictionary.
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [44]:
#5. Find the lenght of this dictionary.
len(d)

6

In [45]:
'''Q.9
Write a program to find the second largest element in a list.
'''

l = [19,25,8,7,23]

In [46]:
l

[19, 25, 8, 7, 23]

In [47]:
l1 = sorted(l, reverse = True)
l1

[25, 23, 19, 8, 7]

In [48]:
l1[1]

23

In [49]:
'''Q.10
This is a list of some metallic elements.
metals = ['silver','gold',...]
Make a new list that is almost identical to the metals list:
The new contains the same items, in the same order, except that it does not contain the item 'copper'.
'''
metals = ['silver','gold','mercury','iron']

In [50]:
metals

['silver', 'gold', 'mercury', 'iron']

In [51]:
# Create a new list without copper
new_List = [metals for metals in metals if metals != 'copper']
print(new_List)

['silver', 'gold', 'mercury', 'iron']