In [1]:
num = int(input('Enter the number:'))
add=0
while num >0:
    rem = num % 10
    add = add + rem
    num = num // 10
print('Addition of digits is:',add)

Enter the number: 34

Addition of digits is: 7

In [2]:
#For Loop
for n in 25,78,90,25:
    print(n)

25
78
90
25

In [4]:
for n in 25,78,90,25,45:
    print(n/2)

12.5
39.0
45.0
12.5
22.5

In [5]:
for n in 25,78,'Pranali',True:
    print(n)

25
78
Pranali
True

In [6]:
#range function
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(5,16))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [8]:
list(range(5,16,2))

[5, 7, 9, 11, 13, 15]

In [ ]:
#range(start, end+1,step)

In [12]:
list(range(23,1,-1))

[23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2]

In [13]:
for n in range(5):
    print(n)

0
1
2
3
4

In [15]:
for n in range(1,6):
    print(n**2)

1
4
9
16
25

In [17]:
for n in range(10):
    print('Pranali')

Pranali
Pranali
Pranali
Pranali
Pranali
Pranali
Pranali
Pranali
Pranali
Pranali

In [18]:
for n in range(10):
    print('Pranali',end=' ')

Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali

In [20]:
#
add=0
for n in range(1,11):
    print

addition 2
addition 3
addition 4
addition 5
addition 6
addition 7
addition 8
addition 9
addition 10
addition 11

In [25]:
add = 0
for n in range(1,21,2):
    add=add+n
print('Addition is:',add)

Addition is: 100

In [26]:
for n in 'Pranali':
   print(n)

P
r
a
n
a
l
i

In [27]:
for n in 'Pranali','Dnyaneshwari':
   print(n)

Pranali
Dnyaneshwari

In [32]:
#Factorial using for loop
num=int(input('Enter the number:'))
fact=1
for n in range(1,num+1):
    fact=fact*n
print('Factorial is:',fact)

Enter the number: 3

Factorial is: 6

In [ ]:
###break statement

In [33]:
for n in range(1,11):
    if n==5:
        break
    print(n)

1
2
3
4

In [34]:
print(n)

5

In [36]:
count=0
while count<=10:
    print(count)
    if count ==5:
        break
    count +=1

0
1
2
3
4
5

In [38]:
for n in range(1,11):
    if n ==5:
        continue
    print(n)

1
2
3
4
6
7
8
9
10

In [1]:
'''
*
**
***
'''
row=int(input('Enter the number of rows:'))

for i in range(1,row+1):
    for j in range(i): 
        print('*',end=' ')
    print()

Enter the number of rows: 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *