In [1]:
class Employee():  # class creation
    pass

In [2]:
emp1 = Employee() # instance of a class
emp2 = Employee()

In [3]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x0000021ABE177250>
<__main__.Employee object at 0x0000021ABDDBDE10>

In [4]:
emp1.first = "Pranali"  # instance variable
emp1.last = "Negi"
emp1.salary = '52000'

In [5]:
emp2.first = "Natasha"  # instance variable
emp2.last = "More"
emp2.salary = '52000'

In [6]:
print(emp1.first)

Pranali

In [7]:
print(emp2.salary)

52000

In [8]:
print(emp1.last)

Negi

In [32]:
class Employee():
    
    def __init__(self,first,last,salary):
        self.first = first    # => emp1.first = 'Ravi'
        self.last = last
        self.salary = salary

    def show(self):
        print(self.first+ ' '+'OK')

In [33]:
emp1 = Employee('Ravi','Tyagi',55000)
emp2 = Employee('Neha','Kulkarni',54000)

In [15]:
emp1.first

'Ravi'

In [34]:
emp1.show()

Ravi OK

In [56]:
# Encapsulation

class Employee1():
    
    def __init__(self,first,last,salary):
        self.first = first    # => emp1.first = 'Ravi'
        self.last = last
        self.__salary = salary  # Creating a private variable
    def display(self):
        print('salary is',self.__salary)

In [58]:
emp3 = Employee1('Akash','Tyagi',30000)
emp4 = Employee1('Pranav','Patil',32000)

In [40]:
emp3.first

'Akash'

In [41]:
emp3.salary # salary is a private variable so, no one will know the salary

AttributeError: 'Employee1' object has no attribute 'salary'

In [59]:
emp3.display()

salary is 30000

In [60]:
# Inheritance

class Employee2(Employee1):
    pass

In [61]:
emp5 = Employee2('Aniket','Rana',60000)

In [64]:
emp5.display()

salary is 60000

In [84]:
'''
Create a class called person
take in name,age,hobby....[make use of default paramaeters also]
create multiple objects
create a method to display all the info
'''

class Person():
    def __init__(self,n,a = 22):
       self.name = n    # => emp1.first = 'Ravi'
       self.age = a
    
    def info(self):
        print('Person name',self.name, 'Age:',self.age)

In [86]:
person1 = ('Pranali',17)
person2 = ('Sneha',)

In [87]:
person1.info()

AttributeError: 'tuple' object has no attribute 'info'